.u-section-1 .u-sheet-1 {
  min-height: 595px;
}

.u-section-1 .u-image-1 {
  width: 314px;
  height: 400px;
  margin: 14px auto 0 85px;
}

.u-section-1 .u-image-2 {
  width: 156px;
  height: 400px;
  margin: -400px 224px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -388px auto 0 484px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 386px auto 0 171px;
  padding: 7px 30px 8px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -37px 240px 60px auto;
  padding: 7px 30px 8px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 49px;
    margin-left: 384px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -57px;
    margin-left: 203px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 23px;
    margin-left: 26px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 105px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -454px;
    margin-right: 268px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 505px;
    margin-left: 96px;
    padding-right: 92px;
    padding-left: 91px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -20px;
    margin-right: 87px;
    margin-bottom: 39px;
    padding-right: 56px;
    padding-left: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 17px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-2 {
    margin-right: -17px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 115px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -99px;
    margin-left: 44px;
    padding-right: 75px;
    padding-bottom: 7px;
    padding-left: 73px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -36px;
    margin-right: 46px;
    margin-bottom: 60px;
    padding-right: 42px;
    padding-left: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 179px;
    height: 340px;
    margin-top: 77px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 480px;
}