.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -220px 20px 0 auto;
  padding: 17px 80px 18px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 117px 40px 60px auto;
  padding: 17px 80px 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 220px;
    margin-right: 63px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -57px;
    margin-right: auto;
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 195px;
    margin-right: 34px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 34px;
    margin-right: 54px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 396px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 119px;
    margin-right: 0;
  }
}